 <h5>Add Fixed charge for {{afm}}</h5>
    
    <form class="save-form" [formGroup]="saveForm">                
        <p>
            <mat-form-field>
                <mat-label>kaek</mat-label>
                <input matInput  value ="{{kaek}}" formControlName="kaek" required>
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error *ngIf="f.kaek.errors"> Kaek is <strong>required</strong></mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-label>Date</mat-label>
                <input matInput type="date" value=""formControlName="date" required>
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error *ngIf="f.date.errors">Date is <strong>required</strong></mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-label>amount</mat-label>
                <input matInput  type="number" value="{{amount}}"formControlName="amount" required>
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error *ngIf="f.amount.errors">amount is <strong>required</strong></mat-error>
            </mat-form-field>
        </p>
        <div class="submit-wrapper">
            <button mat-flat-button color="accent" (click)="onSave()">
                <mat-spinner *ngIf="saving"></mat-spinner>
                Save
            </button>  
        </div>    
    </form>

   