// #cdk-overlay-0 {
//   position:relative;
//   top:180px;important
//   left:350px;!important
// }
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .amount-container {
    display: flex;
    flex-direction: column;
  }
  
  .amount-container > * {
    width: 100%;
  }