<h3>View Charges for {{afm}}</h3>
<h4>List of Fixed charge<button mat-raised-button (click)="addColumn()"><i class="material-icons">add_box</i></button></h4>
    
<table mat-table [dataSource]="transactions" class="mat-elevation-z8">
    
    <!-- kaek Column -->
    <ng-container matColumnDef="kaek">
      <th mat-header-cell *matHeaderCellDef> kaek </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.kaek}} </td>
      <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>
  
    <!-- chargeDate Column -->
    <ng-container matColumnDef="ChargeDate">
        <th mat-header-cell *matHeaderCellDef> chargedate </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.ChargeDate}} </td>
        <td mat-footer-cell *matFooterCellDef> Total </td>
      </ng-container>

    <!-- amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> amount </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.amount | currency}} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
  <h4>List consumtion charges
    <button mat-raised-button (click)="addColumn()"><i class="material-icons">add_box</i></button>
  </h4>
  <table mat-table [dataSource]="transactions" class="mat-elevation-z8">
      <!-- kaek Column -->
      <ng-container matColumnDef="kaek">
        <th mat-header-cell *matHeaderCellDef> kaek </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.kaek}} </td>
        <td mat-footer-cell *matFooterCellDef> Total </td>
      </ng-container>

      <!-- chargeDate Column -->
      <ng-container matColumnDef="ChargeDate">
          <th mat-header-cell *matHeaderCellDef> chargeDate </th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.ChargeDate}} </td>
          <td mat-footer-cell *matFooterCellDef> Total </td>
        </ng-container>
    
      <!-- amount Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> amount </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.amount | currency}} </td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>

