<h2>All Customers</h2>
<div class="spinner-wrapper">
    <mat-spinner *ngIf="loading"></mat-spinner>
</div>

<div *ngIf="customers.length > 0">
    <table mat-table [dataSource]="customers" class="mat-elevation-z8">
        <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> No </th>
            <td mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </td>
        </ng-container>
        <ng-container matColumnDef="afm">
            <th mat-header-cell *matHeaderCellDef> AFM </th>
            <td mat-cell *matCellDef="let element"> {{element.afm}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="surname">
            <th mat-header-cell *matHeaderCellDef> Surname </th>
            <td mat-cell *matCellDef="let element"> {{element.suname}} </td>
        </ng-container>
        <ng-container matColumnDef="fatherName">
            <th mat-header-cell *matHeaderCellDef> Father's Name </th>
            <td mat-cell *matCellDef="let element"> {{element.fatherName}} </td>
        </ng-container>
        <ng-container matColumnDef="birthDate">
            <th mat-header-cell *matHeaderCellDef> DOB </th>
            <td mat-cell *matCellDef="let element"> {{element.birthDate}} </td>
        </ng-container>
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row"> 
                <button mat-raised-button color="primary" (click)="edit(row.afm)">Edit</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>