<h2>List of Files</h2>
<div class="spinner-wrapper">
    <mat-spinner *ngIf="loading"
    [diameter]="40"
    [strokeWidth]="5"></mat-spinner>
</div>

<div *ngIf="files.length === 0 && !loading">This customer has no files.</div>

<div *ngIf="files.length > 0">
    <table mat-table [dataSource]="files" class="mat-elevation-z8">
        <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> No </th>
            <td mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> File Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef> Upload Date </th>
            <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let row"> 
                <button mat-raised-button color="primary" (click)="viewFile(row.name)">View</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div class="upload-btn-wapper">
    <button mat-raised-button color="primary" (click)="uploadFile()">Upload File</button>
</div>
